openapi: 3.0.1
info:
  contact:
    email: support@opsgenie.com
    name: Opsgenie Python SDK Support
    url: https://www.opsgenie.com/contact-us
  description: Python SDK for Opsgenie REST API
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  termsOfService: http://example.com/terms/
  title: Python SDK for Opsgenie REST API
  version: 2.0.0
servers:
- url: https://api.opsgenie.com/
security:
- GenieKey: []
paths:
  /v1/incidents/:
    get:
      description: Return list of incidents
      externalDocs:
        description: For more information
        url: https://docs.opsgenie.com/docs/incident-api#section-list-incidents
      operationId: list_incidents
      parameters:
      - description: Search query to apply while filtering the incidents.
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: Start index of the result set (to apply pagination). Minimum
          value (and also default value) is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Maximum number of items to provide in the result. Must be a positive
          integer value. Default value is 20 and maximum value is 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Name of the field that result set will be sorted by
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: createdAt
          enum:
          - createdAt
          - tinyId
          - message
          - status
          - isSeen
          - owner
          type: string
        style: form
      - description: Sorting order of the result set
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIncidentsResponse'
          description: List of incident informations
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Paging-Last:
              description: Last page url
              explode: false
              schema:
                type: string
              style: simple
            X-Paging-First:
              description: First page url
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Paging-Prev:
              description: Previous page url
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Paging-Next:
              description: Next page url
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: List incidents
      tags:
      - incident
      x-collapse-params: ListIncidentsRequest
      x-openapi-router-controller: openapi_server.controllers.incident_controller
  /v1/incidents/create:
    post:
      description: Creates a new incident
      externalDocs:
        description: For more information
        url: https://docs.opsgenie.com/docs/incident-api#section-create-incident
      operationId: create_incident
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateIncidentPayload'
        description: Request payload of created incident
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Create Incident
      tags:
      - incident
      x-openapi-router-controller: openapi_server.controllers.incident_controller
  /v1/incidents/requests/{requestId}:
    get:
      description: Used to track the status and incident details (if any) of the request
        whose identifier is given
      externalDocs:
        description: For more information
        url: https://docs.opsgenie.com/docs/incident-api#section-get-request-status
      operationId: get_incident_request_status
      parameters:
      - description: Universally unique identifier of the questioned request
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIncidentRequestStatusResponse'
          description: Request status information for given id
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Get Request Status of Incident
      tags:
      - incident
      x-openapi-router-controller: openapi_server.controllers.incident_controller
  /v1/incidents/{identifier}:
    delete:
      description: Deletes an incident using incident id or the tiny id
      externalDocs:
        description: For more information
        url: https://docs.opsgenie.com/docs/incident-api#section-delete-incident
      operationId: delete_incident
      parameters:
      - description: Identifier of incident which could be incident id or tiny id
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      - description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id' or 'tiny. Default is id'
        explode: true
        in: query
        name: identifierType
        required: false
        schema:
          default: id
          enum:
          - id
          - tiny
          type: string
        style: form
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Delete Incident
      tags:
      - incident
      x-collapse-params: DeleteIncidentRequest
      x-openapi-router-controller: openapi_server.controllers.incident_controller
    get:
      description: Returns incident with given id, tiny id or alias
      externalDocs:
        description: For more information
        url: https://docs.opsgenie.com/docs/incident-api#section-get-incident
      operationId: get_incident
      parameters:
      - description: Identifier of incident which could be incident id or tiny id
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      - description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id' or 'tiny. Default is id'
        explode: true
        in: query
        name: identifierType
        required: false
        schema:
          default: id
          enum:
          - id
          - tiny
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIncidentResponse'
          description: Incident information for given identifier
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Get Incident
      tags:
      - incident
      x-collapse-params: GetIncidentRequest
      x-openapi-router-controller: openapi_server.controllers.incident_controller
  /v1/incidents/{identifier}/close:
    post:
      description: Closes incident with given identifier
      externalDocs:
        description: For more information
        url: https://docs.opsgenie.com/docs/incident-api#section-close-incident
      operationId: close_incident
      parameters:
      - description: Identifier of incident which could be incident id or tiny id
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      - description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id' or 'tiny. Default is id'
        explode: true
        in: query
        name: identifierType
        required: false
        schema:
          default: id
          enum:
          - id
          - tiny
          type: string
        style: form
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CloseIncidentPayload'
        description: Request payload of closing incident action
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Close Incident
      tags:
      - incident
      x-collapse-params: CloseIncidentRequest
      x-openapi-router-controller: openapi_server.controllers.incident_controller
  /v2/account:
    get:
      description: Used to search and retrieve account information in OpsGenie
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/account-api#section-get-account-info
      operationId: get_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountInfoResponse'
          description: Request status information for given id
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Get Account Info
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /v2/alerts:
    get:
      description: Returns list of alerts
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-list-alerts
      operationId: list_alerts
      parameters:
      - description: Search query to apply while filtering the alerts
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Identifier of the saved search query to apply while filtering
          the alerts
        explode: true
        in: query
        name: searchIdentifier
        required: false
        schema:
          type: string
        style: form
      - description: Identifier type of the saved search query. Possible values are
          'id', or 'name'
        explode: true
        in: query
        name: searchIdentifierType
        required: false
        schema:
          default: id
          enum:
          - id
          - name
          type: string
        style: form
      - description: Start index of the result set (to apply pagination). Minimum
          value (and also default value) is 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Maximum number of items to provide in the result. Must be a positive
          integer value. Default value is 20 and maximum value is 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Name of the field that result set will be sorted by
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: createdAt
          enum:
          - createdAt
          - updatedAt
          - tinyId
          - alias
          - message
          - status
          - acknowledged
          - isSeen
          - snoozed
          - snoozedUntil
          - count
          - lastOccurredAt
          - source
          - owner
          - integration.name
          - integration.type
          - report.ackTime
          - report.closeTime
          - report.acknowledgedBy
          - report.closedBy
          type: string
        style: form
      - description: Sorting order of the result set
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertsResponse'
          description: List of alert informations
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Paging-Last:
              description: Last page url
              explode: false
              schema:
                type: string
              style: simple
            X-Paging-First:
              description: First page url
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Paging-Prev:
              description: Previous page url
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Paging-Next:
              description: Next page url
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: List Alerts
      tags:
      - alert
      x-collapse-params: ListAlertsRequest
      x-openapi-router-controller: openapi_server.controllers.alert_controller
    post:
      description: Creates a new alert
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-create-alert
      operationId: create_alert
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateAlertPayload'
        description: Request payload of created alert
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Create Alert
      tags:
      - alert
      x-openapi-router-controller: openapi_server.controllers.alert_controller
  /v2/alerts/count:
    get:
      description: Count alerts in Opsgenie
      externalDocs:
        description: For more information
        url: https://docs.opsgenie.com/docs/alert-api#section-count-alerts
      operationId: count_alerts
      parameters:
      - description: Search query to apply while filtering the alerts
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Identifier of the saved search query to apply while filtering
          the alerts
        explode: true
        in: query
        name: searchIdentifier
        required: false
        schema:
          type: string
        style: form
      - description: Identifier type of the saved search query. Possible values are
          id and name. Default value is id. If searchIdentifier is not provided, this
          value is ignored.
        explode: true
        in: query
        name: searchIdentifierType
        required: false
        schema:
          default: id
          enum:
          - id
          - name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCountAlertsResponse'
          description: Returns saved search for given identifier
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Count Alerts
      tags:
      - alert
      x-collapse-params: GetCountAlertsRequest
      x-openapi-router-controller: openapi_server.controllers.alert_controller
  /v2/alerts/requests/{requestId}:
    get:
      description: Used to track the status and alert details (if any) of the request
        whose identifier is given
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-get-request-status
      operationId: get_request_status
      parameters:
      - description: Universally unique identifier of the questioned request
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRequestStatusResponse'
          description: Request status information for given id
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Get Request Status of Alert
      tags:
      - alert
      x-openapi-router-controller: openapi_server.controllers.alert_controller
  /v2/alerts/saved-searches:
    get:
      description: List all saved searches
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-list-saved-searches
      operationId: list_saved_searches
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSavedSearchesResponse'
          description: Returns saved search list
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Lists Saved Searches
      tags:
      - alert
      x-openapi-router-controller: openapi_server.controllers.alert_controller
    post:
      description: Create saved search with given fields
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-create-a-saved-search
      operationId: create_saved_searches
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateSavedSearchPayload'
        description: Request payload of creating saved search
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSavedSearchResponse'
          description: Returns saved search meta information
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Create Saved Search
      tags:
      - alert
      x-openapi-router-controller: openapi_server.controllers.alert_controller
  /v2/alerts/saved-searches/{identifier}:
    delete:
      description: Deletes saved search using given search identifier
      operationId: delete_saved_search
      parameters:
      - description: Identifier of the saved search which could be 'id' or 'name'
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      - description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', or 'name'
        explode: true
        in: query
        name: identifierType
        required: false
        schema:
          default: id
          enum:
          - id
          - name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Returns request id for this async operation.
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Delete Saved Search
      tags:
      - alert
      x-collapse-params: DeleteSavedSearchRequest
      x-openapi-router-controller: openapi_server.controllers.alert_controller
    get:
      description: Get saved search for the given search identifier
      externalDocs:
        description: For more information
        url: https://www.opsgenie.com/docs/alert-api#section-get-saved-search
      operationId: get_saved_search
      parameters:
      - description: Identifier of the saved search which could be 'id' or 'name'
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      - description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', or 'name'
        explode: true
        in: query
        name: identifierType
        required: false
        schema:
          default: id
          enum:
          - id
          - name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSavedSearchResponse'
          description: Returns saved search for given identifier
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the account cannot do this action because
            of subscription plan
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is valid but the apiKey cannot do this operation because
            of permissions
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found for the given identifier
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Semantic errors in request body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Throttling
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Get Saved Search
      tags:
      - alert
      x-collapse-params: GetSavedSearchRequest
      x-openapi-router-controller: openapi_server.controllers.alert_controller
    patch:
      description: Update saved search for the given search identifier
      externalDocs:
        description: For more information
        url: https://docs.opsgenie.com/docs/alert-api-continued#section-update-saved-search
      operationId: update_saved_search
      parameters:
      - description: Identifier of the saved search which could be 'id' or 'name'
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      - description: Type of the identifier that is provided as an in-line parameter.
          Possible values are 'id', or 'name'
        explode: true
        in: query
        name: identifierType
        required: false
        schema:
          default: id
          enum:
          - id
          - name
          type: string
        style: form
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateSavedSearchPayload'
        description: Request payload of updating saved search
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSavedSearchResponse'
          description: Returns saved search for given identifier
          headers:
            X-RateLimit-Reason:
              description: Source of the rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-State:
              description: Status of rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Period-In-Sec:
              description: Time of throttle in seconds
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid JSON body
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
            X-Response-Time:
              description: Process time of given request
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: apiKey is invalid or integration is disabled
          headers:
            X-Request-ID:
              description: Id of given request
              explode: false
              schema:
                type: string
              style: simple
[...]
